body {
    background-color: rgb(181, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.card {
    background-color: rgb(255, 238, 238);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 3px 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    background-color: rgb(255, 251, 251);
    box-shadow: inset rgba(0, 0, 0, 0.3) 1px 3px 8px;
    height: 30%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display input {
    background-color: transparent;
    border: none;
    width: 90%;
    text-align: end;
    font-size: 40px;
    outline: none;
}

.tombol-atas {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tombol-atas .tombol {
    background-color: rgb(60, 214, 253);
    color: white;
    width: 20%;
    height: 25px;
}

.button {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tombol-kiri {
    width: 10%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
}

.tombol-kiri .tombol {
    background-color: rgb(240, 255, 180);
    color: black;
}

.tombol-tengah {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
}

.tombol {
    background-color: rgb(238, 165, 165);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 3px 8px;
    border: none;
    height: 40px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.tombol:hover{
    transform: scale(0.9);
}

.tombol-kanan {
    background-color: rgb(255, 244, 244);
    box-shadow: inset rgba(0, 0, 0, 0.25) 5px 3px 8px;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
}

.tombol-kanan .tombol {
    background-color: rgb(240, 255, 180);
    color: black;
}